language: php

sudo: false

env:
  - AZURE_STORAGE_CONNECTION_STRING="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1;"

matrix:
    include:
        - php: 5.4
        - php: 5.5
        - php: 5.6
        - php: 7
        - php: hhvm
    fast_finish: true

before_script:
  - composer install --prefer-dist -o

script: ./vendor/bin/phpunit -c phpunit.local.xml.dist
