    <p>
    <table border="0" width="100%" class="DHTML_Category_Expand" >
    <tr>
      <td width="30" align="right">
        <img src="{InstallerURL}?img=category" width="16" height="15" border="0" alt="{categoryName}">
      </td>
      <td colspan=2>
        <a name="{channel}"><b>{categoryName}</b></a>
      </td>
    </tr>
    <!-- BEGIN Title_info -->
    <tr>
      <td width="30">&nbsp;</td>
      <td width="30">&nbsp;</td>
      <td>{Text}</td>
    </tr>
    <!-- END Title_info -->
    </table>
    <table border="0" cellspacing="5" id="__{categoryName}" class="DHTML_Category">
    <tr>
      <td width="50" valign="top">
      &nbsp;
      </td>
      <!-- BEGIN Headline -->
      <td valign="top">
        <b>{Text}</b>
      </td>
      <!-- END Headline -->
    </tr>
    <!-- BEGIN Data -->
    <tr>
      <td valign="top" align="right">
        <img src="{InstallerURL}?img={Img}" border="0">
      </td>
      <!-- BEGIN Data_row -->
      <td valign="top">
        {Text}
      </td>
      <!-- END Data_row -->
    </tr>
    <!-- END Data -->
    </table>
    </p>
