    <p>
    <table>
     <tr>
      <td>
        <span class="green">Quick-install a package</span>
      </td>
     </tr>
     <tr>
      <td valign="top">
        <form name="nonstandardpackage">
         <input type="hidden" name="command" value="install">
         <input type="hidden" name="redirect" value="info">
         <img src="{InstallerURL}?img=package" width="12" height="12" border="0" alt="package">
         <input type="text" size="50" name="pkg">
         <input type="checkbox" name="force"><span style="font-size:0.8em">force?</span></input>
         <input type="submit" name="sub" value="Install">
        </form>
      </td>
     </tr>
    </table>
    </p>
