    <p>
    <table border="0" class="DHTML_Category_Expand" >
    <tr>
      <td width="30" align="right">
        <img src="{InstallerURL}?img=category" width="16" height="15" border="0" alt="{categoryName}">
      </td>
      <td>
        <b>{categoryName}</b>
      </td>
    </tr>
    </table>
    <table border="0" cellspacing="5" id="__{categoryName}" class="DHTML_Category">
    <tr>
      <td width="50" valign="top">
      &nbsp;
      </td>
      <!-- BEGIN Headline -->
      <td valign="top">
        <b>{Text}</b>
      </td>
      <!-- END Headline -->
    </tr>
    <!-- BEGIN Data -->
    <tr>
      <td valign="top" align="right">
        <a name="{Package}" />
        <img src="{InstallerURL}?img=package" width="12" height="12" border="0">
      </td>
      <!-- BEGIN Data_row -->
      <td valign="top">
        {Text}
      </td>
      <!-- END Data_row -->
    </tr>
    <!-- END Data -->
    </table>
    </p>
