    <table border="0">
    <tr>
      <td width="10" valign="top" rowspan="9">
      </td>
      <td width="120" valign="top" class="package_info_title">
        Package
      </td>
      <td valign="top">
        {Package}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Installed
      </td>
      <td valign="top">
        {Installed}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Latest
      </td>
      <td valign="top">
        {Latest}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        License
      </td>
      <td valign="top">
        {License}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Summary
      </td>
      <td valign="top">
        {Summary}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Description
      </td>
      <td valign="top">
        {Description}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Dependencies
      </td>
      <td valign="top">
        {Dependencies}
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        Options
      </td>
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            {Opt_Img_1}
          </td>
          <td width="5">
          </td>
          <td valign="middle">
            {Opt_Text_1}
          </td>
        </tr>
        <tr>
          <td height="4"></td>
        </tr>
        <tr>
          <td align="center">
            {Opt_Img_2}
          </td>
          <td width="5">
          </td>
          <td valign="middle">
            {Opt_Text_2}
          </td>
        </tr>
        </table>  
      </td>
    </tr>
    <tr>
      <td width="120" valign="top" class="package_info_title">
        {More_Title}
      </td>
      <td valign="top">
        {More_Data}
      </td>
    </tr>
    </table>
