<!-- INCLUDE caption.tpl.html -->
    <!-- BEGIN Paging_pre -->
    <table border="0">
    <tr>
      <td width="20">
      </td>
      <td width="100" align="left">
        {Prev}
      </td>
      <td width="450" align="center">
        <span class="green">Displaying <b>{PagerFrom}</b> to <b>{PagerTo}</b> of <b>{PagerCount}</b> Categories</span>
      </td>
      <td width="100" align="right">
        {Next}
      </td>
    </tr>
    </table>
    <br>
    <!-- END Paging_pre -->
    <!-- BEGIN Category -->
    <table border="0" class="DHTML_Category_Expand" >
    <tr>
      <td width="20">
      </td>
      <td>
        <img src="{InstallerURL}?img=category" width="16" height="15" border="0" alt="{categoryName}">
      </td>
      <td>
        <b>{categoryName}</b>
      </td>
    </tr>
    </table>
    <table border="0" id="__{categoryName}" class="DHTML_Category">
    <tr> <td width="50" valign="top" colspan="2">
      </td>
      <td valign="top">
        
      </td>
      <td width="100" valign="top">
        <b>Channel</b>
      </td>
      <td width="150" valign="top">
        <b>Package</b>
      </td>
      <td width="50" valign="top">
        <b>Local version</b>
      </td>
      <td width="50" valign="top">
        <b>Latest version</b>
      </td>
      <td valign="top" width="15">
        
      </td>
      <td valign="top" width="18">
        
      </td>
      <td valign="top">
        
      </td>
      <td valign="top">
        
      </td>
      <td width="300" valign="top">
        <b>Description</b>
      </td>
    </tr>
    <!-- BEGIN Row -->
    <tr>
      <td width="1" valign="top">
        <a name="{Package}">
      </td>
      <td width="49" valign="top" align="right">
        <iframe id="{Package}_status" height="20" 
            width="20" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </td>
      <td valign="top">
        <img src="{InstallerURL}?img=package" width="12" height="12" border="0">
      </td>
      <td width="100" valign="top">
        {Channel}
      </td>
      <td width="150" valign="top">
        {Package}
      </td>
      <td width="50" valign="top">
        <div id="{Package}_installed">{Installed}</div>
      </td>
      <td width="50" valign="top">
        <div id="{Package}_latest">{Latest}</div>
      </td>
      <td valign="top" width="15">
        <div id="{Package}_install">{Install}</div>
      </td>
      <td valign="top" width="18">
        <div id="{Package}_uninstall">{Delete}</div>
      </td>
      <td valign="top">
        {Info}
      </td>
      <td valign="top">
        {InfoExt}
      </td>
      <td width="300" valign="top">
        {Summary}
      </td>
    </tr>
    <!-- END Row -->
    </table>
    <!-- END Category -->
    <!-- BEGIN Paging_post -->
    <br>
    <table border="0">
    <tr>
      <td width="20">
      </td>
      <td width="100" align="left">
        {Prev}
      </td>
      <td width="450" align="center">
        <span class="green">Displaying <b>{PagerFrom}</b> to <b>{PagerTo}</b> of <b>{PagerCount}</b> Categories</span>
      </td>
      <td width="100" align="right">
        {Next}
      </td>
    </tr>
    </table>
    <!-- END Paging_post -->
